<hadardasim-post-form (postAddedEvent) = "addPost($event)">Add Posts</hadardasim-post-form> <! ex 6>
<hadardasim-spinner [visible] = "isLoading"></hadardasim-spinner>
<div>
  <ul class="list-group posts">
    <li *ngFor = 'let post of posts' 
         [class.active]="currentPost == post" 
         (click) = "select(post)"
         class="list-group-item">
         <hadardasim-post [post] = "post"
         (deleteEvent) = "deletePost($event)"
         (cancelEvent) = "updatePost($event)"> </hadardasim-post> <!--for ex 5 -->  <!-- it was
         (cancelEvent) = "cancel($event)" before ex 7 now its updatePost-->

         <ul>             <!-- use this ul for join. another file changed is posts.service.ts -->
          <li *ngFor = "let name of post.userNames">
            {{(name | async)?.name}}
          </li>
        </ul> 

    </li>
  </ul>
</div>